body {
    font-family: Arial, sans-serif;
    /* background-color: #ffe6e6; */
    margin: 0;
    padding: 0;
  }
  
  .faq-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  @keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
  }
  
  .faq-page h1 {
    font-family: Signika;
    color: #c51550;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s forwards;
    font-size: 2.0rem;
    width: 0;
  }
  
  .faq-item {
    margin: 20px 0;
  }
  
  .faq-question {
    background-color: #ee9a9a;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  
  .faq-question:after {
    content: '\25BC';
    float: right;
  }
  
  .faq-answer {
    background-color: #ebaaaa;
    padding: 10px;
    display: none;
    text-align: left;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .faq-question.active:after {
    content: '\25B2';
  }
  
  .faq-answer.show {
    display: block;
  }
  