

.footer {
    background-color: #ffe4e1;
    padding: 50px 20px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}



.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.logo-text {
    font-size: 2rem;
    color: #c51550;
}



.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 0 1rem;
    align-items: center;
    padding-bottom: 2px;
    background-image: linear-gradient(#c36969 0 0);
    background-position: 0 100%; 
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s; 
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}



.footer-section ul li a:hover {
    color: #c51550;
}



.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}





.footer-section button {
    padding: 10px;
    background-color: #c51550;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.footer.dark .footer-section button {
    background-color: #ff6b81;
}

.footer-section button:hover {
    background-color: #a01440;
}

.footer.dark .footer-section button:hover {
    background-color: #ff4b5f;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .footer-section h2 {
        font-size: 1.2rem;
    } 
    .footer-section p {
        font-size: 0.9rem;
    }
    .footer-section li {
        font-size: 0.9rem;
    }
    .footer-bottom {
        font-size: 0.8rem;
    }
    .footer-section input[type="email"] {
        font-size: 0.8rem;
    }
}