body {
    background-color:white;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins';
    }

  @keyframes slideInTop {  
    0% {  
        transform: translateY(-50%);  
        opacity: 0;  
    }  
    100% {  
        transform: translateY(0);  
        opacity: 1;  
    }  
}  
@keyframes fadeIn {  
  from {  
      opacity: 0;  
  }  
  to {  
      opacity: 1;  
  }  
}  
